.theme-button{
  margin: 50px;
}


.fancybuttonSearch {
  border: none;
  width:180px;
  height: 50px;
  font-size:25px;
  color: #FFF;
  cursor: pointer;
  box-shadow:  4px 4px orange,4px 4px orange;;
  background: linear-gradient(#fa6400,red);
  background: -webkit-linear-gradient(#fa6400,red);
  border-bottom:orange;
  border-radius:4px;
}

.fancybuttonSearchDark {
  border: none;
  width:180px;
  height: 50px;
  font-size:25px;
  color: #FFF;
  cursor: pointer;
  box-shadow:  4px 4px rgb(97, 63, 1),4px 4px orange;;
  background: linear-gradient(#7e3302,red);
  background: -webkit-linear-gradient(#7e3302,red);
  border-bottom:orange;
  border-radius:4px;
}