.product img {
  max-height: 200px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products .product {
  margin: 1rem;
  border: 1px solid rgb(158, 191, 218);
  padding: 1rem;
  width: 280px;
  position: relative;
  background-color: aliceblue;
}

.products .product img {
  width: 90%;
  height: 200px;
}

.products .product.hover {
  /* border: 1px solid rgb(238, 132, 132); */
  /* transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
  display: inline-block;
  vertical-align: middle;
  /* transform: translateZ(0); */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.6s;
  transition-property: transform;
  transform: scale(1.05);
}

.products .product .add-to-cart {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  top: calc(50% - 100px / 2);
  left: calc(50% - 100px / 2);
  font-size: 4rem;
  border: 1px solid grey;
  background-color: white;
}

.products .product .add-to-cart div {
  font-size: 0.8rem;
}

.products .tags .tag {
  border: 1px solid rgb(172, 174, 175);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  margin: 0.25rem;
}
